@import 'styles/_colors.scss';

.debug-message {
  padding: 0;
  cursor: pointer;
  position: fixed;
  margin: 5px;
  font-size: 12px;
  background: rgba(238, 238, 238, 0.9);
  border-radius: 0.5em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  max-width: 400px;
  p {
    margin: 5px 0;
  }
  .close-button {
    padding: 5px;
    width: 70px;
    color: #fff;
    text-align: center;
    background: $brand-primary;
    &:hover {
      background: lighten($brand-primary, 20%);
    }
  }
  &.open {
    padding: 1.6em 2em;
    & .close-button {
      position: absolute;
      top: 1.6em;
      right: 2em;
    }
  }
  &.closed {
    & .close-button {
      position: relative;
    }
  }
}