@import 'styles/_colors.scss';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.main-menu-container {
  position: relative;
  .main-menu {
    /* small */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    &.closed {
      @include media-breakpoint-down(sm) {
        /* small only */
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }
    }
    &.open {
      @include media-breakpoint-down(sm) {
        /* small only */
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        // margin-bottom: 30px;
      }
    }
    transition: max-height 500ms ease-in-out, margin 500ms ease-in-out, border 500ms ease-in-out;
    @include media-breakpoint-up(md) {
      /* large */
      flex-direction: row;
      margin-bottom: 2rem;
      overflow: visible;
      max-height: 100% !important;
    }
    ul,
    li {
      margin: auto;
    }
    .nav-item {
      flex-grow: 1;
      .nav-link {
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
        color: #555;
        transition: color 300ms ease-out;
        @include media-breakpoint-down(sm) {
          /* small only */
          &.first {
            margin-top: 1rem;
          }
          &.last {
            margin-bottom: 1rem;
          }
        }  
        @include media-breakpoint-up(md) {
          /* large */
          text-align: center;
          border-right: 1px solid #eee;
          &.last {
            border-right: none;
          }
        }
        &:hover,
        &:active {
          color: #500;
        }
        &.active {
          color: $brand-primary;
        }
      }
    }
  }
  #main-menu-indicator {
    /* small */
    display:block;
    position: absolute;
    height: 2em;
    width: 2px;
    left: 0;
    @include media-breakpoint-up(md) {
      /* large */
      width: 80px;
      height: 2px;
      bottom: 0;
    }
    opacity: 0;
    background-color: $brand-primary;
    transition: left 250ms ease-out, top 250ms ease-out, width 250ms ease-out, height 250ms ease-out, opacity 500ms 250ms ease-out;
  }
}