@import 'styles/_colors.scss';

.main-menu-container {
  position: relative;
  #main-menu-indicator {
    display: block;
    position: absolute;
    height: 3px;
    width: 80px;
    bottom: 0;
    opacity: 0;
    background-color: $brand-primary;
    transition: left 250ms ease-out, width 250ms ease-out, opacity 500ms 250ms ease-out;
  }
}