@import '../../styles/colors';

.image-container {
  overflow: hidden;
  background: $brand-primary;
  height: 200px;
  .final-img, .preview-img, .preview-img-container {
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .final-img {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &.is-loaded {
    .preview-img {
      &, &-container {
        transition: all 300ms ease-in-out;
      }
    }
  }
  .preview-img {
    &, &-container {
      transition: none;
    }
    &-container {
      position: absolute;
      opacity: 1;
    }
  }
}