.image-container {
  overflow: hidden;
  background: #fff;
  height: 200px;
  .final-img, .preview-img, .preview-img-container {
    margin: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .final-img {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .preview-img {
    &, &-container {
      transition: all 400ms ease-out;
    }
    &-container {
      position: absolute;
      opacity: 1;
    }
  }
}