/* Font colors */
$default-text-color: #444;
$heading-text-color: #3d3136;
$subheading-text-color: #555;
$link-text-color: #36507e;

/* Brand colors */
$brand-primary: #ac285c;
$brand-secondary: #4f6791;
$brand-dark: #3d3935;

/* Footer */
$footer-link-color: rgb(180, 184, 192);
$footer-link-hover-color: rgb(196, 204, 219);
