@import 'styles/_variables.scss';

.fade- {
  &enter, &appear {
    opacity: 0;
    z-index: 1;
    &.fade-enter-active,
    &.fade-appear-active {
      opacity: 1;
      transition: opacity $transition-duration ease-in;
    }
  }
  &exit {
    opacity: 1;
    z-index: 1;
    &.fade-exit-active {
      opacity: 0;
      transition: opacity $transition-duration ease-in;
    }
  }
}

