@import '../../styles/colors';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.galleryItems {
  margin-left: -15px;
  .galleryItem-container {
    width:33.333%;
    float: left;
    display: flex;
    position: relative;
    a{
      word-break: break-all;
    }
    .image-container {
        height: 320px;
        width: 100%;
        flex: 40%;
    }

    .itemInfoWrap {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
      top:0;
      padding: 20px;
      left:0;
      right: 0;
      bottom: 0;
      background-color: rgba(255,255,255,0.92)        
    }
    .itemInfoWrap:hover {
      opacity: 1;
    }
    h4{
      color: $brand-secondary;
    }
  }
}
@include media-breakpoint-down(lg) {
  .galleryItems {
    .galleryItem-container {      
      .image-container {
        height: 290px;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .galleryItems {
    .galleryItem-container {
      
      .image-container {
        height: 230px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .galleryItems {
    .galleryItem-container {
      width:100%;     
      float: left;
    
      .image-container {
        height: 190px;
      }
      .itemInfoWrap {
        position: static;
        opacity: 1;
        flex: 60%;
      }
    }
  }
  
}

