@import 'styles/_colors.scss';

.icon-container {
  display: flex;
  height: 100%;
  flex-grow: 1;
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  .icon {
    margin: auto 0;
    fill: none;
    stroke: #333;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 46px;
  }
}