@import 'styles/_colors.scss';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.linkable {
  position: relative;
  color: $brand-primary;
  @include media-breakpoint-up(md) {
    /* large */
    color: $default-text-color;
  }
  transition: color 300ms ease-out;
  a {
    /* small */
    display: inline-block;
    position: relative;
    top: 5px;
    left: 10px;
    @include media-breakpoint-up(md) {
      /* large */
      opacity: 0;
      display: block;
      position: absolute;
      top: 3px;
      left: -32px;
    }
    width: 30px;
    text-decoration: none;
    transition: opacity 300ms ease-out;
  }
  &:hover {
    color: $brand-primary;
    a {
      opacity: 1;
    }
  }
}