@import 'styles/_colors.scss';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

header {
  .header-top-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > * {
      flex: 1 0;
      /* small */
      @include media-breakpoint-up(md) {
        /* large */
        // flex: 0 100%;
      }    
    }
    .main-menu-toggler {
      @include media-breakpoint-up(md) {
        /* large */
        visibility: hidden;
      }
      .icon-container {
        padding-left: 8px;
      }
    }
    .brand-header {
      padding: 0.5rem 1rem;
      h1 {
        text-align: center;
        .logo {
          width: 8rem;
          // display: none;
          @include media-breakpoint-up(md) {
            /* large */
            // display: block;
            margin: 2rem auto;
            width: 12rem;
          }
        }
      }
    }
    #searchbar-toggler {
      &-small-screens {
        /* small */
        @include media-breakpoint-up(md) {
          /* large */
          display:none;
        }
      }
      &-large-screens {
        @include media-breakpoint-down(sm) {
          /* small only */
          display:none;
        }
      }
    }
  }
  .searchbar-container {
    &.horizontal {
      /* small */
      display:none;
      @include media-breakpoint-up(md) {
        /* large */
        display: flex;
      }
    }
    &.vertical {
      /* small */
      display:flex;
      margin-bottom: 1em;
      @include media-breakpoint-up(md) {
        /* large */
        display: none;
      }
    }
  }
}
