/* Font colors */
/* Brand colors */
/* Footer */
header .header-top-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  header .header-top-container > * {
    flex: 1 0;
    /* small */ }
    @media (min-width: 768px) {
      header .header-top-container > * {
        /* large */ } }
  @media (min-width: 768px) {
    header .header-top-container .main-menu-toggler {
      /* large */
      visibility: hidden; } }
  header .header-top-container .main-menu-toggler .icon-container {
    padding-left: 8px; }
  header .header-top-container .brand-header {
    padding: 0.5rem 1rem; }
    header .header-top-container .brand-header h1 {
      text-align: center; }
      header .header-top-container .brand-header h1 .logo {
        width: 8rem; }
        @media (min-width: 768px) {
          header .header-top-container .brand-header h1 .logo {
            /* large */
            margin: 2rem auto;
            width: 12rem; } }
  header .header-top-container #searchbar-toggler-small-screens {
    /* small */ }
    @media (min-width: 768px) {
      header .header-top-container #searchbar-toggler-small-screens {
        /* large */
        display: none; } }
  @media (max-width: 767.99px) {
    header .header-top-container #searchbar-toggler-large-screens {
      /* small only */
      display: none; } }

header .searchbar-container.horizontal {
  /* small */
  display: none; }
  @media (min-width: 768px) {
    header .searchbar-container.horizontal {
      /* large */
      display: flex; } }

header .searchbar-container.vertical {
  /* small */
  display: flex;
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    header .searchbar-container.vertical {
      /* large */
      display: none; } }
