@import 'styles/_colors.scss';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

header {
  .brand-header {
    .logo {
      display: none;
      @include media-breakpoint-up(md) {
        /* large */
        display: block;
        margin: 0 auto;
        width: 200px;
      }
    }
  }
}
