@import 'styles/_colors.scss';

.loading {
  display: flex;
  margin: auto;
  padding-bottom: 120px;
  .spinner {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid $brand-secondary;
    border-bottom: 3px solid transparent;
    border-left: none;
    animation: spin 1500ms linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}