@import 'styles/_colors.scss';

.sub-menu {
  ul.nav {
    padding-left: 1rem;
  }
  & > .nav-item {
    a {
      font-size: 1.2em;
      color: $brand-primary;
      &:hover {
        color: lighten($brand-primary, 10%);
        text-decoration: none;
      }
    }
    & ul > .nav-item {
      a {
        font-size: 1em;
        color: $default-text-color;
        &:hover {
          color: lighten($default-text-color, 15%);
          text-decoration: none;
        }
     }
     & ul > .nav-item {
       a {
         font-size: 0.95em;
         color: $brand-secondary;
       }
       &:hover {
          color: lighten($brand-secondary, 50%);
          text-decoration: none;
       }
     }
   }
  }
}