@import 'styles/_colors.scss';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.sub-menu {
  border-top: 1px solid #eee;
  margin-bottom: 3rem;
  padding: 1.5rem 1rem;
  overflow-y: auto;
  cursor: pointer;
  ul.nav {
    padding-left: 1rem;
    li a {
      display: block;
      padding: 0.15em 0;
    }
  }
  & > .nav-item > a {
    /* First level */
    display: block;
    padding: 0.5em 0 0.15em;
  }
  & > .nav-item {
    /* Second level */
    a {
      font-size: 1.2em;
      color: $brand-primary;
      &:hover {
        color: lighten($brand-primary, 10%);
        text-decoration: none;
      }
    }
    & ul > .nav-item {
      /* Third level */
      a {
        font-size: 1em;
        color: $default-text-color;
        &:hover {
          color: lighten($default-text-color, 30%);
          text-decoration: none;
        }
     }
     & ul > .nav-item {
       a {
         font-size: 0.95em;
         color: $brand-secondary;
       }
       &:hover {
          color: lighten($brand-secondary, 50%);
          text-decoration: none;
       }
     }
   }
  }
}

/* Hide submenu on small screens */
@include media-breakpoint-down(sm) {
  .sub-menu-container {
    display: none;
  }
}
