.iframe-container {
  display: flex;
  margin: 2rem auto 40px;
  background: #fff;
  box-shadow: 0 0 30px 30px #fff;
  #schoolsoft {
    flex-grow: 1;
    height: 100%;
    min-height: 1200px;
    border: 0;
    transition: opacity 500ms ease-in-out;
  }
}