/* Font colors */
/* Brand colors */
.fade-enter, .fade-appear {
  opacity: 0;
  z-index: 1; }
  .fade-enter.fade-enter-active, .fade-enter.fade-appear-active, .fade-appear.fade-enter-active, .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 400ms ease-in; }

.fade-exit {
  opacity: 1;
  z-index: 1; }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms ease-in; }

/* Transitioning between pages */
.page-fade-enter, .page-fade-appear {
  opacity: 0; }
  .page-fade-enter.page-fade-enter-active, .page-fade-enter.page-fade-appear-active, .page-fade-appear.page-fade-enter-active, .page-fade-appear.page-fade-appear-active {
    opacity: 1;
    transition: all 300ms ease-out; }

.page-fade-exit, .page-fade-disappear {
  opacity: 1; }
  .page-fade-exit.page-fade-exit-active, .page-fade-exit.page-fade-disappear-active, .page-fade-disappear.page-fade-exit-active, .page-fade-disappear.page-fade-disappear-active {
    opacity: 0;
    transition: all 300ms ease-in; }

/* Container must be absolute positioned during the transition */
.main-container.page-fade-enter-active, .main-container.page-fade-appear-active {
  position: absolute; }
